:root{
    --row-gutter: 20px;
}

#input-block{
    margin-top: var(--row-gutter);
    margin-bottom: var(--row-gutter);
}

#message-block{
    margin-top: var(--row-gutter);
    margin-bottom: var(--row-gutter);
}

.message-date{
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    border-top: 1px solid black;
}

.message-row{
    display: grid;
    grid-template-columns: 100px 500px;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.message-time{
    text-align: center;
    align-self: center;
}

.message-card {
    display: block;
}

.message-name {
    font-weight: bold;
    margin-left: 12px;
}

.message-box-container{
    display: flex;
}
.message-box{
    border-radius: 10px;
    padding: 7px 12px;
    background-color: aqua;
    max-width: 100%;
}

.owner{
    background-color: lime;
}