{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label"> Username </label>
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="text" class="form-control" id="password" name="password">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>