{% extends 'main_app_base.html' %}
{% load static %}

{% block title %} Room Choice {% endblock %}

{% block content %}
    <div class="mb-2">
        Username : {{username}}
        <a href="{% url 'logout' %}" class="btn btn-outline-danger">
            Logout
        </a>
    </div>
    <div class="row mb-2">
        <label for="room-name-input" class="col-4 col-form-label">
            What chat room would you like to enter?
        </label>
        <select id="room-name-input" class="col-1 form-select" >
            {% for room in rooms %}
                <option value={{room.name}} > {{ room.name }} </option>
            {% endfor %}
        </select>
    </div>
    <input id="room-name-submit" class="btn btn-primary" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
    
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

{% endblock %}
