{% extends 'main_app_base.html' %} {% load static %} {% block title %}
{{room_name}} {% endblock %} {% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>{{room_name}}</h2>
  <div>
    <span class="mx-2"> Username : {{username}} </span>
    <a href="{% url 'logout' %}" class="btn btn-outline-danger"> Logout </a>
  </div>
</div>

<div id="message-block">
  <div class="message-date">4 May</div>

  {% for message in chat_message %}
  <div class="message-row">
    <div class="message-time">00:44 AM</div>
    <div class="message-card">
      <div class="message-name">{{message.username}}</div>
      <div class="message-box-container">
        <div class="message-box {{message.class_name}}">
          {{message.message}}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div id="input-block">
  <input id="chat-message-user" type="hidden" value="{{username}}" />
  <input id="chat-message-room" type="hidden" value="{{room_name}}" />
  <input id="chat-message-input" type="text" size="100" class="mb-2" />
  <br />
  <input
    id="chat-message-submit"
    type="button"
    class="btn btn-primary"
    value="Send"
  />
  <a href="{% url 'index' %}" class="btn btn-secondary"> Exit Room </a>
</div>

{{ room_name|json_script:"room-name" }}

<script>
  const roomName = JSON.parse(document.getElementById("room-name").textContent);

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    chatLog = document.querySelector("#chat-log");
    chatLog.value += data.username + ": " + data.message + "\n";
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

  var currentTime = function () {
    let current = new Date();
    return current.toLocaleTimeString();
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const userInputDom = document.querySelector("#chat-message-user");
    const username = userInputDom.value;
    const roomInputDom = document.querySelector("#chat-message-room");
    const room_name = roomInputDom.value;
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;

    const messageBlock = document.getElementById("message-block");
    const messageRow = document.createElement("div");
    messageRow.className = "message-row";

    const messageTime = document.createElement("div");
    messageTime.className = "message-time";
    messageTime.textContent = currentTime();
    const messageCard = document.createElement("div");
    messageCard.className = "message-card";

    const messageUsername = document.createElement("div");
    messageUsername.className = "message-name";
    messageUsername.textContent = username;
    const messageBoxContainer = document.createElement("div");
    messageBoxContainer.className = "message-box-container";

    const messageBox = document.createElement("div");
    messageBox.className = "message-box primary-message-box";
    messageBox.textContent = message;

    messageBoxContainer.appendChild(messageBox);
    messageCard.appendChild(messageUsername);
    messageCard.appendChild(messageBoxContainer);
    messageRow.appendChild(messageTime);
    messageRow.appendChild(messageCard);
    messageBlock.appendChild(messageRow);

    chatSocket.send(
      JSON.stringify({
        username: username,
        room_name: room_name,
        message: message,
      })
    );
    messageInputDom.value = "";
  };
</script>
{% endblock %}
